*{
  margin:0;
  padding: 0;
}

section .hero{
  position: absolute;
  text-align: left;
  margin-top: 30%;
  color: #f0e5f4;
  flex-direction: column;
  padding-left: 10%;

}


html, body {
  background: #E2ECFD;
  margin: 0;

}
img{
  width: cover;
  max-width: fit-content;
  height: 1000px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-color:#220E3E;
}
.about-me{
  text-align: center;
  grid-column: row;
  position: absolute;
  justify-self: center;

  }

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

p{
  padding-top:2px;
}


